@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(6, 6, 7);
    color: white;
    font-family: 'Karla', sans-serif;
}

.siteHeader {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: black;
    align-items: center;
}

.logo {
    height: 100%;
    transition: 800ms transform;
    cursor: pointer;
}

.logo:hover {
    transform: rotate(360deg);
}

.container {
    display: flex;
    margin-right: 3rem;
    margin-left: 3rem;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.container button, a {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-family: monospace;
    margin-right: 1rem;
    font-size: 0.9rem;
    color: white;
    transition: 200ms color;
}

.container button:hover, a:hover {
    color: rgb(105, 158, 238);
}

main {
    display: inline-flex;
    flex-direction: row-reverse;
    margin-top: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.mainContent {
    display: flex;
    height: 45rem;
    justify-content: center;
}

.aboutCards {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    flex-wrap: wrap;
}

.card {
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 24px;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 500ms transform;
    user-select: none;
}

.card .title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#designer {
    background-image: url(/img/designer.png);
    background-size: cover;
    padding-right: 5rem;
    padding-left: 5rem;
}

#developer {
    background-image: url(/img/developer.png);
    background-size: cover;
    padding-right: 5rem;
    padding-left: 5rem;
}

.card:hover {
    transform: scale(1.12);
}

.aboutContainer {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    margin-right: 15rem;
    margin-left: 3.5rem;
    line-height: 1.2;
}

.aboutContainer a {
    color: rgb(105, 158, 238);
    transition: 200ms color;
}

.aboutContainer a:hover {
    color: rgba(105, 158, 238, 0.726);
}

.aboutContainer i {
    color: rgb(105, 158, 238);
}

.whatContent {
    display: flex;
    justify-content: center;
    height: 45rem;
    align-items: center;
}

.middleBox {
    background-color: black;
    padding-right: 10rem;
    padding-left: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 24px;
}

.inline-links svg {
    margin-right: 0.5rem;
}

.inline-links a {
    text-decoration: none;
    color: white;
    transition: 200ms color;
}

.inline-links a:hover {
    color: rgb(105, 158, 238);
}

#karla {
    background-image: linear-gradient(120deg, #fc0454, #dc044c);
}

#a4k {
    background-image: url(/img/a4k.png);
}

.inline-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inline-contacts p {
    display: inline-flex;
    align-items: center;
    justify-items: center;
}

.inline-contacts svg {
    margin-right: 0.5rem;
}

@media only screen and (max-width: 420px ) {
    .container {
        margin-right: 2px;
        margin-left: 2px;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
    }

    .middleBox {
        background-color: transparent;
    }

    .aboutCards .card {
        display: flex;
    }

    .mainContent {
        margin-top: 11rem;
        display: flex;
        flex-direction: column;
    }

    .aboutContainer {
        margin-right: 2rem;
    }
}